---
import Layout from '../layouts/Layout.astro';
// Fetch the books from the API at build time
import { GET } from './api/books.ts';

let response = await GET(Astro);
const booksHtml = await response.text();
---

<Layout title="Welcome to Astro.">
	<main>
    <h1>hello Books</h1>
    <!-- Inject the books HTML from the API -->
    <div set:html={booksHtml}></div>
    <div class="button-group__container">
      <div class="button-group">
        <a href="books/new" class="button button--primary">Add Book</a>
      </div>
    </div>
	</main>
</Layout>
